#content {
  display: flex;
  flex-direction: row;
  margin-top: 48px;
  height: calc(100vh - 48px);
}

#map {
  flex: 8;
  height: 100%;
}

#list {
  background-color: rgba(0, 0, 0, 0.1);
  flex-basis: 400px;
  flex-grow: 1;
  height: 100%;
  padding: 1rem;
  overflow-y: scroll;
}
