.parent {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}

.div1 {
  display: inline;
  grid-area: 1 / 1 / 2 / 2;
}
.div2 {
  display: inline;
  grid-area: 1 / 2 / 2 / 3;
}
.div3 {
  display: inline;
  grid-area: 2 / 1 / 3 / 3;
}
.div4 {
  display: inline;
  grid-area: 3 / 1 / 4 / 3;
}
